# Merge Datasets

In [1]:
import pandas as pd

In [37]:
df = pd.read_csv('bellevue_almshouse_modified.csv')

In [38]:
df

,admission_id,date_in,first_name,last_name,full_name,age,disease,arrival_info,NARA_manifest,profession,sent_to_cleaned,gender,admittor_1,admittor_1_code,admittor_2,admittor_2_code,children,child_cleaned
0,4577,1847-04-17,Mary,Gallagher,Mary Gallagher,28.0,recent emigrant,bonded ship 'agnes gilmore' may/46,915.0,married,h,f,superintendent,102,hd. gibbens,50,Child Alana 10 days,child
1,4300,1847-04-08,John,Sanin (?),John Sanin (?),19.0,recent emigrant,bonded ship 'aberfoyle' march 12/47,2147.0,laborer,NaN,m,g.w. anderson,48,witherell,38,Catherine 2 mo,child
2,4576,1847-04-17,Anthony,Clark,Anthony Clark,60.0,recent emigrant,bonded ship 'aberfoyle' march 12/47 j murray,2147.0,laborer,h,m,g.w. anderson,48,witherell,38,Charles Riley afed 10 days,child
3,4301,1847-04-08,Lawrence,Feeney,Lawrence Feeney,32.0,recent emigrant,bonded ship 'aderondack',2173.0,laborer,NaN,m,g.w. anderson,48,donnelly,64,Child,child
4,4445,1847-04-13,Henry,Joyce,Henry Joyce,21.0,recent emigrant,bonded ship 'aderondak' jany7/47,2173.0,NaN,NaN,m,g.w. anderson,48,witherell,38,Child 1 mo,child
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9579,977,1846-05-23,Joseph,Aton,Joseph Aton,69.0,NaN,NaN,NaN,shoemaker,NaN,m,NaN,1,[blank],1,NaN,no child
9580,6718,1847-06-17,Mary,Smith,Mary Smith,47.0,NaN,NaN,NaN,NaN,38,f,NaN,1,[blank],1,NaN,no child
9581,6787,1847-06-22,Francis,Riley,Francis Riley,29.0,lame,NaN,NaN,superintendent,NaN,m,NaN,1,[blank],1,NaN,no child
9582,7020,1847-07-02,Martin,Dunn,Martin Dunn,4.0,NaN,recent emigrant,NaN,NaN,NaN,m,NaN,1,[blank],1,NaN,no child
9583,7157,1847-07-08,Elizabeth,Post,Elizabeth Post,32.0,NaN,NaN,NaN,NaN,h,f,NaN,1,[blank],1,NaN,no child

In [39]:
nara = pd.read_csv('NARA_ships.csv')

In [40]:
nara = nara.rename(columns={'manifest_identifier_number': 'NARA_manifest'})

In [43]:
df = pd.merge(df, nara, on='NARA_manifest', how='left')

In [44]:
sites = pd.read_csv('site_codes.csv')

In [45]:
sites = sites.rename(columns={'almshouse_register_site_code': 'sent_to_cleaned'})

In [48]:
df

,admission_id,date_in,first_name,last_name,full_name,age,disease,arrival_info,NARA_manifest,profession,...,admittor_1,admittor_1_code,admittor_2,admittor_2_code,children,child_cleaned,SHIP NAME,CODE FOR SHIP PORT OF EMBARKATION,SHIP ARRIVAL DATE,NUMBER OF CORRESPONDING PASSENGERS
0,4577,1847-04-17,Mary,Gallagher,Mary Gallagher,28.0,recent emigrant,bonded ship 'agnes gilmore' may/46,915.0,married,...,superintendent,102,hd. gibbens,50,Child Alana 10 days,child,AGNES GILMORE,LIVERPOOL,05/07/1846,65.0
1,4300,1847-04-08,John,Sanin (?),John Sanin (?),19.0,recent emigrant,bonded ship 'aberfoyle' march 12/47,2147.0,laborer,...,g.w. anderson,48,witherell,38,Catherine 2 mo,child,ABERFOIL,LIVERPOOL,03/11/1847,192.0
2,4576,1847-04-17,Anthony,Clark,Anthony Clark,60.0,recent emigrant,bonded ship 'aberfoyle' march 12/47 j murray,2147.0,laborer,...,g.w. anderson,48,witherell,38,Charles Riley afed 10 days,child,ABERFOIL,LIVERPOOL,03/11/1847,192.0
3,4301,1847-04-08,Lawrence,Feeney,Lawrence Feeney,32.0,recent emigrant,bonded ship 'aderondack',2173.0,laborer,...,g.w. anderson,48,donnelly,64,Child,child,ADIRONDACK,LIVERPOOL,01/07/1847,279.0
4,4445,1847-04-13,Henry,Joyce,Henry Joyce,21.0,recent emigrant,bonded ship 'aderondak' jany7/47,2173.0,NaN,...,g.w. anderson,48,witherell,38,Child 1 mo,child,ADIRONDACK,LIVERPOOL,01/07/1847,279.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9579,977,1846-05-23,Joseph,Aton,Joseph Aton,69.0,NaN,NaN,NaN,shoemaker,...,NaN,1,[blank],1,NaN,no child,NaN,NaN,NaN,NaN
9580,6718,1847-06-17,Mary,Smith,Mary Smith,47.0,NaN,NaN,NaN,NaN,...,NaN,1,[blank],1,NaN,no child,NaN,NaN,NaN,NaN
9581,6787,1847-06-22,Francis,Riley,Francis Riley,29.0,lame,NaN,NaN,superintendent,...,NaN,1,[blank],1,NaN,no child,NaN,NaN,NaN,NaN
9582,7020,1847-07-02,Martin,Dunn,Martin Dunn,4.0,NaN,recent emigrant,NaN,NaN,...,NaN,1,[blank],1,NaN,no child,NaN,NaN,NaN,NaN
9583,7157,1847-07-08,Elizabeth,Post,Elizabeth Post,32.0,NaN,NaN,NaN,NaN,...,NaN,1,[blank],1,NaN,no child,NaN,NaN,NaN,NaN

In [54]:
df = pd.merge(df, sites, on='sent_to_cleaned', how='left')

In [58]:
df = pd.merge(df, admittors[['admittor_1', 'admittors_from_almshouse_register']], left_on=['admittor_1'], right_on=['admittor_1'], how='left')

In [63]:
df

,admission_id,date_in,first_name,last_name,full_name,age,disease,arrival_info,NARA_manifest,profession,...,children,child_cleaned,SHIP NAME,CODE FOR SHIP PORT OF EMBARKATION,SHIP ARRIVAL DATE,NUMBER OF CORRESPONDING PASSENGERS,site_description,site_general,public_health_site_code,admittors_from_almshouse_register
0,4577,1847-04-17,Mary,Gallagher,Mary Gallagher,28.0,recent emigrant,bonded ship 'agnes gilmore' may/46,915.0,married,...,Child Alana 10 days,child,AGNES GILMORE,LIVERPOOL,05/07/1846,65.0,Hospital,Bellevue Complex,PHS1,superintendent
1,4300,1847-04-08,John,Sanin (?),John Sanin (?),19.0,recent emigrant,bonded ship 'aberfoyle' march 12/47,2147.0,laborer,...,Catherine 2 mo,child,ABERFOIL,LIVERPOOL,03/11/1847,192.0,NaN,NaN,NaN,george w. anderson
2,4576,1847-04-17,Anthony,Clark,Anthony Clark,60.0,recent emigrant,bonded ship 'aberfoyle' march 12/47 j murray,2147.0,laborer,...,Charles Riley afed 10 days,child,ABERFOIL,LIVERPOOL,03/11/1847,192.0,Hospital,Bellevue Complex,PHS1,george w. anderson
3,4301,1847-04-08,Lawrence,Feeney,Lawrence Feeney,32.0,recent emigrant,bonded ship 'aderondack',2173.0,laborer,...,Child,child,ADIRONDACK,LIVERPOOL,01/07/1847,279.0,NaN,NaN,NaN,george w. anderson
4,4445,1847-04-13,Henry,Joyce,Henry Joyce,21.0,recent emigrant,bonded ship 'aderondak' jany7/47,2173.0,NaN,...,Child 1 mo,child,ADIRONDACK,LIVERPOOL,01/07/1847,279.0,NaN,NaN,NaN,george w. anderson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11204,977,1846-05-23,Joseph,Aton,Joseph Aton,69.0,NaN,NaN,NaN,shoemaker,...,NaN,no child,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[blank]
11205,6718,1847-06-17,Mary,Smith,Mary Smith,47.0,NaN,NaN,NaN,NaN,...,NaN,no child,NaN,NaN,NaN,NaN,Hospital Ward 38,Bellevue Complex,PHS1,[blank]
11206,6787,1847-06-22,Francis,Riley,Francis Riley,29.0,lame,NaN,NaN,superintendent,...,NaN,no child,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[blank]
11207,7020,1847-07-02,Martin,Dunn,Martin Dunn,4.0,NaN,recent emigrant,NaN,NaN,...,NaN,no child,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[blank]
11208,7157,1847-07-08,Elizabeth,Post,Elizabeth Post,32.0,NaN,NaN,NaN,NaN,...,NaN,no child,NaN,NaN,NaN,NaN,Hospital,Bellevue Complex,PHS1,[blank]

In [69]:
test = test.drop_duplicates()

In [67]:
test = pd.merge(df, admittors, left_on=['admittor_2'], right_on=['admittor_1'], how='left')

In [70]:
test.to_csv('bellevue2.csv', index=False)

In [26]:
pd.merge(df, admittors, left_on=['admittor_1', 'admittor_2'], right_on=['admittor_1', 'admittor_1'])

Empty DataFrame
Columns: [admission_id, date_in, first_name, last_name, full_name, age, disease, arrival_info, NARA_manifest, profession, sent_to_cleaned, gender, admittor_1, admittor_1_code, admittor_2, admittor_2_code, children, child_cleaned, SHIP NAME, CODE FOR SHIP PORT OF EMBARKATION, SHIP ARRIVAL DATE, NUMBER OF CORRESPONDING PASSENGERS, site_description, site_general, public_health_site_code, admittor_code, admittors_from_almshouse_register]
Index: []

[0 rows x 27 columns]

In [23]:
admittors = pd.read_csv('Admittors.csv')

In [24]:
admittors

     admittor_code         admittor_1 admittors_from_almshouse_register
0                1                NaN                           [blank]
1                2          11th ward                         11th ward
2                2          11th ward                         11th ward
3                3          12th ward                         12th ward
4                3          12th ward                         12th ward
..             ...                ...                               ...
507            125  lyon supt od poor                  william w. lyons
508            125  lyon supd od poor                  william w. lyons
509            125  lyon suot od poor                  william w. lyons
510            125               lyon                  william w. lyons
511            125               lton                  william w. lyons

[512 rows x 3 columns]

In [36]:
pd.read_csv('bellevue.csv').drop_duplicates()

,date_in,first_name,last_name,full_name,gender,age,disease,profession,children,sent_to,Unnamed: 10,admittor_1,admittor_2,ship_name,ship_city_departed
0,1847-04-17,Mary,Gallagher,Mary Gallagher,f,28.0,recent emigrant,married,Child Alana 10 days,Hospital,NaN,hd. gibbens,hd. gibbens,AGNES GILMORE,LIVERPOOL
1,1847-02-22,John,Hynes,John Hynes,m,20.0,recent emigrant,laborer,NaN,Hospital,NaN,hd. walsh,james walsh,HENRY CLAY,LIVERPOOL
3,1847-03-10,Thomas,Garrey,Thomas Garrey,m,47.0,recent emigrant,weaver,NaN,Hospital,NaN,hd. walsh,james walsh,ROSCIUS,LIVERPOOL
5,1847-05-17,Patrick,Rarin,Patrick Rarin,m,23.0,destitution,laborer,NaN,Hospital,NaN,man,man,CUSHLAMACHREE,UNKNOWN
6,1847-05-25,Eliz,Fanelly,Eliz Fanelly,f,47.0,recent emigrant,widow,NaN,Hospital,NaN,johnston,peter c. johnston,GARRICK,LIVERPOOL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2731,1847-07-19,Bridget,Quinlan,Bridget Quinlan,f,20.0,recent emigrant,spinster,NaN,Hospital,NaN,b.s. hopkins,benson s. hopkins,LETITIA HEYES,LIVERPOOL
2732,1847-05-21,Catherine,Moore,Catherine Moore,f,26.0,recent emigrant,spinster,NaN,Hospital,NaN,alms house,alms house,JOHN RAVENEL,LIVERPOOL
2733,1847-06-09,Anthony,Lalty,Anthony Lalty,m,38.0,recent emigrant,laborer,NaN,Hospital,NaN,com,commissioners of emigration,SPEED,LIVERPOOL
2735,1847-03-15,Betsy,Connell,Betsy Connell,f,30.0,recent emigrant,NaN,NaN,Long Island Farms,NaN,hd. walker 18th ward,william a. walker,BURLINGTON,LIVERPOOL
2736,1847-03-15,Mary,Connell,Mary Connell,f,2.0,recent emigrant,married,NaN,Long Island Farms,NaN,hd. walker 18th ward,william a. walker,BURLINGTON,LIVERPOOL

In [72]:
df2 = pd.read_csv('bellevue2.csv')

In [80]:
pd.options.display.max_rows = 200

In [81]:
df2[df2['disease'] == 'pregnant']

,date_in,first_name,last_name,full_name,age,gender,disease,profession,children,sent_to,admittor1,admittor2,ship,ship_city_departed
72,1847-04-09,Rose,McBride,Rose McBride,24.0,f,pregnant,married,NaN,NaN,george w. anderson,edward witherell,NaN,NaN
185,1847-04-03,Alice,Campbell,Alice Campbell,21.0,f,pregnant,married,Mary Jane McGinty aged 3,NaN,george w. anderson,edward witherell,BURLINGTON,LIVERPOOL
189,1847-04-16,Mary,Newall,Mary Newall,27.0,f,pregnant,married,NaN,Hospital,george w. anderson,peter c. johnston,FINLAND,LIVERPOOL
332,1847-02-04,Sarah,Corrigan,Sarah Corrigan,26.0,f,pregnant,married,NaN,NaN,moses g. leonard,benjamin t. phillips,ADIRONDACK,LIVERPOOL
367,1847-06-13,Bridget,Reynolds,Bridget Reynolds,20.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,oscar s. field,NaN,NaN
499,1847-06-09,Rose,Dinns,Rose Dinns,22.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,peter c. johnston,ATLAS,LIVERPOOL
551,1847-04-25,Jane,Chanley,Jane Chanley,20.0,f,pregnant,married,NaN,Hospital,george w. anderson,peter c. johnston,NaN,NaN
698,1847-08-21,Bridget,Redding,Bridget Redding,25.0,f,pregnant,married,NaN,Hospital Ward 38,william w. lyons,NaN,COLUMBIA,LIVERPOOL
896,1847-08-02,Bridget,Murray,Bridget Murray,22.0,f,pregnant,spinster,NaN,Lunatic Asylum Ward 38,william w. lyons,NaN,NaN,NaN
1371,1847-01-26,Jane,Beatty,Jane Beatty,22.0,f,pregnant,married,NaN,NaN,commissioners of emigration,agent,NaN,NaN
1471,1847-05-03,Margaret,Mogan,Margaret Mogan,33.0,f,pregnant,married,NaN,Hospital,george w. anderson,edward witherell,JOHN RAVENEL,LIVERPOOL
1550,1847-02-06,Maria,Brunt,Maria Brunt,24.0,f,pregnant,spinster,NaN,NaN,george w. anderson,NaN,NaN,NaN
1746,1847-05-08,Ellen,O'Brien,Ellen O'Brien,20.0,f,pregnant,spinster,NaN,Hospital Ward 38,george w. anderson,peter c. johnston,ORPHAN,LIVERPOOL
1960,1847-05-13,Mary,Gallagher,Mary Gallagher,18.0,f,pregnant,married,NaN,Hospital Ward 38,george w. anderson,peter c. johnston,NaN,NaN
2308,1847-01-16,Ann,Driscoll,Ann Driscoll,17.0,f,pregnant,spinster,NaN,NaN,commissioners of emigration,agent,VIRGINIAN,LIVERPOOL
2314,1847-03-09,Ann,Driscoll,Ann Driscoll,17.0,f,pregnant,spinster,NaN,Hospital,moses g. leonard,stopkes,NaN,NaN
2366,1847-11-03,Mary,Kelly,Mary Kelly,32.0,f,pregnant,spinster,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,YORKSHIRE,LIVERPOOL
2979,1847-01-08,Mary,McLaughlin,Mary McLaughlin,30.0,f,pregnant,widow,NaN,NaN,commissioners of emigration,agent,NaN,NaN
2992,1847-01-11,Catharine,Smith,Catharine Smith,20.0,f,pregnant,spinster,NaN,NaN,commissioners of emigration,agent,NaN,NaN
3014,1847-01-12,Ann,Cox,Ann Cox,25.0,f,pregnant,married,NaN,NaN,commissioners of emigration,agent,NaN,NaN
3036,1847-01-16,Eliza,Riley,Eliza Riley,45.0,f,pregnant,married,NaN,NaN,commissioners of emigration,agent,NaN,NaN
3045,1847-01-17,Alice,Eddy,Alice Eddy,21.0,f,pregnant,widow,NaN,NaN,commissioners of emigration,agent,NaN,NaN
3051,1847-01-19,Margaret,Laughlan,Margaret Laughlan,30.0,f,pregnant,married,NaN,NaN,commissioners of emigration,agent,NaN,NaN
3052,1847-01-19,Catharine,Meade,Catharine Meade,32.0,f,pregnant,married,NaN,NaN,commissioners of emigration,agent,NaN,NaN
3068,1847-01-21,Margaret,Munroe,Margaret Munroe,17.0,f,pregnant,married,NaN,NaN,commissioners of emigration,agent,NaN,NaN
3069,1847-01-21,Mary,Kearney,Mary Kearney,16.0,f,pregnant,spinster,NaN,NaN,commissioners of emigration,agent,NaN,NaN
3092,1847-01-25,Mary Jane,Riley,Mary Jane Riley,20.0,f,pregnant,spinster,NaN,NaN,commissioners of emigration,agent,NaN,NaN
5127,1847-01-28,Ann,McCabe,Ann McCabe,21.0,f,pregnant,married,NaN,NaN,george w. anderson,NaN,NaN,NaN
5131,1847-01-29,Bridget,Kearn,Bridget Kearn,38.0,f,pregnant,married,NaN,NaN,george w. anderson,NaN,NaN,NaN
5136,1847-01-30,Mary,Donovan,Mary Donovan,27.0,f,pregnant,married,NaN,NaN,george w. anderson,NaN,NaN,NaN
5156,1847-02-06,Ann,Martin,Ann Martin,23.0,f,pregnant,spinster,NaN,NaN,george w. anderson,NaN,NaN,NaN
5194,1847-02-22,Mary,Toohey,Mary Toohey,34.0,f,pregnant,married,NaN,Hospital Ward 38,george w. anderson,peter c. johnston,NaN,NaN
5286,1847-03-16,Mary,Mullen,Mary Mullen,27.0,f,pregnant,married,NaN,Hospital Ward 38,george w. anderson,james donnelly,NaN,NaN
5309,1847-03-22,Margaret,Welsh,Margaret Welsh,24.0,f,pregnant,married,NaN,Hospital Ward 38,george w. anderson,benson s. hopkins,NaN,NaN
5310,1847-03-22,Elizabeth,McDonald,Elizabeth McDonald,26.0,f,pregnant,married,NaN,Hospital Ward 38,george w. anderson,edward witherell,NaN,NaN
5321,1847-03-24,Mary Jane,Stevens,Mary Jane Stevens,30.0,f,pregnant,spinster,NaN,Hospital Ward 38,george w. anderson,edward witherell,NaN,NaN
5377,1847-04-07,Julia Ann,Merrigun (?),Julia Ann Merrigun (?),28.0,f,pregnant,married,NaN,NaN,george w. anderson,edward witherell,NaN,NaN
5437,1847-04-15,Matilda,Frazier,Matilda Frazier,23.0,f,pregnant,spinster,NaN,CHECK,george w. anderson,edward witherell,NaN,NaN
5445,1847-04-15,Alice,Duffy,Alice Duffy,28.0,f,pregnant,spinster,NaN,Hospital Ward 38,george w. anderson,peter c. johnston,NaN,NaN
5460,1847-04-19,Jane,Grieer,Jane Grieer,22.0,f,pregnant,widow,NaN,Hospital,george w. anderson,edward witherell,NaN,NaN
5467,1847-04-19,Margared,Broche,Margared Broche,20.0,f,pregnant,married,NaN,Hospital,george w. anderson,edward witherell,NaN,NaN
5532,1847-04-28,Fanny,Martin,Fanny Martin,22.0,f,pregnant,married,NaN,Hospital,george w. anderson,edward witherell,NaN,NaN
5622,1847-05-10,Bridget,Nichelson,Bridget Nichelson,40.0,f,pregnant,married,NaN,Hospital,george w. anderson,edward witherell,NaN,NaN
5629,1847-05-10,Jane,McCann,Jane McCann,22.0,f,pregnant,spinster,NaN,Hospital Ward 38,george w. anderson,peter c. johnston,NaN,NaN
5636,1847-05-10,Susan,Patterson,Susan Patterson,20.0,f,pregnant,spinster,NaN,Hospital Ward 38,george w. anderson,peter c. johnston,NaN,NaN
5777,1847-08-11,Bridget,Grady,Bridget Grady,35.0,f,pregnant,spinster,NaN,Hospital Ward 38,thomas b. tappen,NaN,NaN,NaN
5826,1847-07-20,Mary,Kelly,Mary Kelly,28.0,f,pregnant,married,NaN,Hospital,moses g. leonard,NaN,NaN,NaN
5854,1847-07-08,Catherine,Cook,Catherine Cook,21.0,f,pregnant,spinster,NaN,Hospital,william w. lyons,oscar s. field,NaN,NaN
5903,1847-07-13,Bridget,Donohue,Bridget Donohue,26.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
5935,1847-07-15,Ellen,Connolly,Ellen Connolly,25.0,f,pregnant,married,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
6021,1847-07-21,Bridget,Leah,Bridget Leah,19.0,f,pregnant,married,NaN,Lunatic Asylum Ward 38,william w. lyons,edward witherell,NaN,NaN
6051,1847-07-22,Ann,Clark,Ann Clark,23.0,f,pregnant,spinster,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
6052,1847-07-22,Mary,Diffen,Mary Diffen,32.0,f,pregnant,widow,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
6053,1847-07-22,Mary Ann,Williamson,Mary Ann Williamson,50.0,f,pregnant,widow,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
6086,1847-07-24,Bridget,Rowan,Bridget Rowan,30.0,f,pregnant,widow,NaN,CHECK,william w. lyons,NaN,NaN,NaN
6102,1847-07-25,Margaret,McCabe,Margaret McCabe,40.0,f,pregnant,spinster,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
6156,1847-07-30,Bridget,Coffy,Bridget Coffy,25.0,f,pregnant,married,NaN,Shanty 38,william w. lyons,NaN,NaN,NaN
6195,1847-08-02,Ann,Hunt,Ann Hunt,36.0,f,pregnant,married,NaN,Blackwell's Island,william w. lyons,NaN,NaN,NaN
6249,1847-08-05,Martha,Powell,Martha Powell,20.0,f,pregnant,married,NaN,Lunatic Asylum Ward 38,william w. lyons,NaN,NaN,NaN
6264,1847-08-06,Mary,Diffens,Mary Diffens,38.0,f,pregnant,widow,NaN,Hospital,william w. lyons,NaN,NaN,NaN
6265,1847-08-06,Elizabeth,Wilkinson,Elizabeth Wilkinson,13.0,f,pregnant,married,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
6301,1847-08-10,Hester,Gillon,Hester Gillon,33.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
6302,1847-08-10,Mary,Middleton,Mary Middleton,32.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
6397,1847-08-17,Mary,McCabe,Mary McCabe,18.0,f,pregnant,spinster,NaN,Hospital,william w. lyons,NaN,NaN,NaN
6420,1847-08-18,Eliza,Robinson,Eliza Robinson,23.0,f,pregnant,married,NaN,Hospital,william w. lyons,NaN,NaN,NaN
6456,1847-08-20,Marcella,McNally,Marcella McNally,24.0,f,pregnant,married,NaN,Lunatic Asylum Ward 38,william w. lyons,NaN,NaN,NaN
6471,1847-08-21,Rosanna,Corcorran,Rosanna Corcorran,32.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
6584,1847-08-30,Mary Ann,Dolan,Mary Ann Dolan,20.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
6631,1847-09-03,Catherine,Pool,Catherine Pool,24.0,f,pregnant,widow,NaN,NaN,william w. lyons,NaN,NaN,NaN
6645,1847-09-04,Susan,McDonald,Susan McDonald,28.0,f,pregnant,spinster,NaN,NaN,william w. lyons,NaN,NaN,NaN
6690,1847-09-08,Margaret,Hamilton,Margaret Hamilton,28.0,f,pregnant,spinster,NaN,Hospital,william w. lyons,NaN,NaN,NaN
6708,1847-09-10,Mary,Martin,Mary Martin,25.0,f,pregnant,spinster,NaN,NaN,william w. lyons,NaN,NaN,NaN
6709,1847-09-10,Eliza,Moore,Eliza Moore,26.0,f,pregnant,married,NaN,NaN,william w. lyons,NaN,NaN,NaN
6731,1847-09-12,Jane,Burke,Jane Burke,20.0,f,pregnant,spinster,NaN,Hospital,william w. lyons,NaN,NaN,NaN
6732,1847-09-12,Maria,Carroll,Maria Carroll,26.0,f,pregnant,married,NaN,Hospital,william w. lyons,NaN,NaN,NaN
6780,1847-09-17,Rosanna,Stewart,Rosanna Stewart,16.0,f,pregnant,spinster,NaN,NaN,william w. lyons,NaN,NaN,NaN
6800,1847-09-18,Julia,Heneberry,Julia Heneberry,32.0,f,pregnant,married,NaN,NaN,william w. lyons,NaN,NaN,NaN
6830,1847-09-22,Ann,McCanon,Ann McCanon,25.0,f,pregnant,widow,NaN,Hospital,william w. lyons,NaN,NaN,NaN
6897,1847-09-29,Ann,Foley,Ann Foley,25.0,f,pregnant,spinster,NaN,NaN,william w. lyons,NaN,NaN,NaN
6965,1847-10-05,Ann,Rourke,Ann Rourke,21.0,f,pregnant,spinster,NaN,NaN,william w. lyons,NaN,NaN,NaN
6978,1847-10-06,Mary,Quilt,Mary Quilt,22.0,f,pregnant,married,NaN,NaN,william w. lyons,NaN,NaN,NaN
7016,1847-10-09,Ann,Dillon,Ann Dillon,22.0,f,pregnant,widow,NaN,NaN,william w. lyons,NaN,NaN,NaN
7140,1847-10-20,Bridget,Riley,Bridget Riley,18.0,f,pregnant,spinster,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7209,1847-10-27,Ann,Rourke,Ann Rourke,20.0,f,pregnant,spinster,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7221,1847-10-28,Catherine,McDermott,Catherine McDermott,28.0,f,pregnant,married,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7280,1847-11-02,Ellen,Sweeney,Ellen Sweeney,20.0,f,pregnant,spinster,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7297,1847-11-04,Mary,Smith,Mary Smith,30.0,f,pregnant,spinster,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7312,1847-11-05,Bridget,Campbell,Bridget Campbell,23.0,f,pregnant,spinster,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7327,1847-11-07,Ann,McGuire,Ann McGuire,21.0,f,pregnant,spinster,NaN,Shanty 38,william w. lyons,NaN,NaN,NaN
7338,1847-11-08,Bridget,Laughlin,Bridget Laughlin,21.0,f,pregnant,spinster,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7346,1847-11-09,Mary,Cahill,Mary Cahill,30.0,f,pregnant,married,NaN,Hospital,william w. lyons,NaN,NaN,NaN
7347,1847-11-09,Catherine,Gillespie,Catherine Gillespie,34.0,f,pregnant,married,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7383,1847-11-12,Margaret,Green,Margaret Green,25.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
7417,1847-11-16,Eliza,Martin,Eliza Martin,30.0,f,pregnant,married,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7470,1847-11-20,Catherine,O'Brien,Catherine O'Brien,29.0,f,pregnant,married,NaN,Hospital Ward 38,william w. lyons,NaN,NaN,NaN
7509,1847-11-25,Jane,Johnston,Jane Johnston,23.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
7583,1847-12-02,Ann,Seery,Ann Seery,25.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
7679,1847-12-12,Maria L.,Carroll,Maria L. Carroll,23.0,f,pregnant,widow,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
7712,1847-12-16,Elizabeth,Brown,Elizabeth Brown,22.0,f,pregnant,spinster,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
7729,1847-12-17,Ann,Smith,Ann Smith,22.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
7778,1847-12-22,Ellen,McDermott,Ellen McDermott,6.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
7785,1847-12-23,Allice,Cany,Allice Cany,23.0,f,pregnant,widow,NaN,Hospital,william w. lyons,NaN,NaN,NaN
7850,1847-12-31,Eliza,Harnana,Eliza Harnana,26.0,f,pregnant,married,NaN,Blackwell's Island Ward 38,william w. lyons,NaN,NaN,NaN
7978,1847-07-10,Catherine,Dunn,Catherine Dunn,23.0,f,pregnant,widow,NaN,Randall's Island Ward 38,william w. lyons,NaN,NaN,NaN
7998,1847-04-25,Rosa,Glass,Rosa Glass,24.0,f,pregnant,spinster,NaN,Hospital Ward 28,moses g. leonard,h dickens,NaN,NaN
8009,1847-06-15,Hannah,Keatherson,Hannah Keatherson,14.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,edward witherell,NaN,NaN
8038,1847-07-05,Mary Ann,Reynolds,Mary Ann Reynolds,26.0,f,pregnant,married,NaN,NaN,moses g. leonard,peter c. johnston,NaN,NaN
8098,1847-02-06,Eliza,Mauthers,Eliza Mauthers,26.0,f,pregnant,spinster,NaN,NaN,moses g. leonard,b.j stopt,NaN,NaN
8100,1847-02-12,Mary,McGrath,Mary McGrath,26.0,f,pregnant,widow,NaN,Hospital Ward 38,moses g. leonard,benson s. hopkins,NaN,NaN
8101,1847-02-18,Jane,Smith,Jane Smith,25.0,f,pregnant,spinster,NaN,Hospital Ward 38,moses g. leonard,benson s. hopkins,NaN,NaN
8113,1847-03-16,Elizabeth,Davins,Elizabeth Davins,22.0,f,pregnant,spinster,NaN,Hospital,moses g. leonard,benjamin t. phillips,NaN,NaN
8125,1847-04-19,Mary,Smith,Mary Smith,23.0,f,pregnant,spinster,NaN,Hospital Ward 38,moses g. leonard,benson s. hopkins,NaN,NaN
8129,1847-04-22,Ellen,McCalu,Ellen McCalu,24.0,f,pregnant,seamstress,NaN,Hospital Ward 38,moses g. leonard,commissioners of emigration,NaN,NaN
8134,1847-05-08,Judah,Fallen,Judah Fallen,30.0,f,pregnant,widow,NaN,Hospital Ward 38,moses g. leonard,benson s. hopkins,NaN,NaN
8142,1847-05-12,Mary,Smith,Mary Smith,37.0,f,pregnant,married,NaN,Hospital,moses g. leonard,edward witherell,NaN,NaN
8180,1847-05-15,Catherine,Seele,Catherine Seele,25.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,edward witherell,NaN,NaN
8203,1847-05-18,Mary,Andrews,Mary Andrews,26.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,peter c. johnston,NaN,NaN
8285,1847-05-26,Ellen,McCake,Ellen McCake,23.0,f,pregnant,spinster,NaN,Hospital Ward 38,moses g. leonard,benson s. hopkins,NaN,NaN
8303,1847-05-27,Sarah,Campbell,Sarah Campbell,22.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,edward witherell,NaN,NaN
8364,1847-06-01,Bridget,Keanan,Bridget Keanan,20.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,benson s. hopkins,NaN,NaN
8410,1847-06-04,Mary,Hart,Mary Hart,37.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,edward witherell,NaN,NaN
8424,1847-06-05,Ann,Smith,Ann Smith,24.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,edward witherell,NaN,NaN
8479,1847-06-11,Mary,McMagh,Mary McMagh,28.0,f,pregnant,spinster,NaN,Hospital Ward 38,moses g. leonard,oscar s. field,NaN,NaN
8498,1847-06-13,Mary,Henry,Mary Henry,27.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,edward witherell,NaN,NaN
8506,1847-06-14,Mary,Keeler,Mary Keeler,44.0,f,pregnant,cook,NaN,Hospital Ward 38,moses g. leonard,oscar s. field,NaN,NaN
8541,1847-06-17,Mary,Smith,Mary Smith,23.0,f,pregnant,NaN,NaN,Hospital Ward 38,moses g. leonard,peter c. johnston,NaN,NaN
8581,1847-06-19,Martha,McConnelly,Martha McConnelly,35.0,f,pregnant,spinster,NaN,Hospital Ward 38,moses g. leonard,peter c. johnston,NaN,NaN
8714,1847-06-26,Jane,Davis,Jane Davis,18.0,f,pregnant,married,NaN,Hospital Ward 38,moses g. leonard,edward witherell,NaN,NaN
8949,1847-05-21,Isabella,Raddey,Isabella Raddey,30.0,f,pregnant,married,NaN,Blackwell's Island,police,w.j. berfoot,NaN,NaN
8955,1847-05-26,Julia,Thompson,Julia Thompson,67.0,f,pregnant,married,NaN,Blackwell's Island,police,NaN,NaN,NaN
9486,1847-02-06,Ellen,Thompson,Ellen Thompson,28.0,f,pregnant,widow,NaN,NaN,superintendent,hd. ian,NaN,NaN
9539,1847-08-12,Rosanna,Warrington,Rosanna Warrington,46.0,f,pregnant,married,NaN,Hospital,superintendent,NaN,NaN,NaN
9556,1847-01-14,Ann,Kearney,Ann Kearney,33.0,f,pregnant,spinster,NaN,NaN,NaN,NaN,NaN,NaN
9561,1847-01-19,Betsey,Hant,Betsey Hant,25.0,f,pregnant,married,NaN,NaN,NaN,NaN,NaN,NaN