# Make a Character Network

This lesson demonstrates how to create a social network of people mentioned in a text based on how often people appear within a certain distance of one another.

In [ ]:
#!pip install spacy
#!python -m spacy download en_core_web_sm

## Import Libraries

In [1]:
import spacy
import en_core_web_sm
from collections import Counter
import pandas as pd
pd.set_option("max_rows", 400)
import networkx 
import itertools

## Load spaCy Language Model

In [6]:
#nlp = spacy.load('en_core_web_sm')
nlp = en_core_web_sm.load()

## Character Networks For Shorter Texts

This section demonstrates how to create a character network from a text if you can process the entire text with spaCy at one time (mostly shorter texts).

### Read in Text File

In [7]:
filepath = "../texts/literature/Jones-Lost-in-The-City.txt"
text = open(filepath).read()

### Process Text

In [8]:
document = nlp(text)

### Create or Upload List of Characters

If you already have a list of characters that you'd like to identify, skip to the end of this section. If you'd like to identify characters with spaCy's NER tagger, run the code below:

In [9]:
spacy_identified_people = []

for named_entity in document.ents:
    if named_entity.label_ == "PERSON":
        
        spacy_identified_people.append(named_entity.text)

Then output this list of spaCy's identified people to a CSV file for manual cleaning and editing:

In [10]:
pd.DataFrame(Counter(spacy_identified_people).most_common(), columns=['character', 'count']).to_csv('spacy-identified-people.csv', index=False)

Read in a CSV file with a cleaned list of characters in a column titled "character":

In [22]:
my_list_of_characters = pd.read_csv('My-Cleaned-Character-List.csv')['character'].tolist()

Uncomment to re-upload the CSV file without cleaning or editing:

In [37]:
#my_list_of_characters = pd.read_csv('spacy-identified-people.csv')['character'].tolist()

### Find Character, Index in Document

Count any named entity that matches a person in the list of characters. Also extract the index number where that person appears in the document, so we can later calculate characters who appear near one another.

In [12]:
all_people_matches = []
all_people_matches_plus_ids = []

#Get all entity matches for a previously identified person
for named_entity in document.ents:
    if named_entity.text in my_list_of_characters:
        person = named_entity.text
        
        #Remove apostrophe 's from character name
        person = person.replace("’s", "").strip()
        #Get the character index number from the text
        person_index = named_entity.start_char
        
        all_people_matches.append(person)
        all_people_matches_plus_ids.append([person, person_index])

### Make List of Edges

Compare every character to every other character in the list. If two characters fall within 50 characters of one another, add them to the `edge_list`. To change the number of characters, simply change the `threshold_distance` variable below:

In [13]:
edge_list = []

threshold_distance = 50

#If two people fall within 50 characters of one another, add them to the edge list
for person, another_person in itertools.combinations(all_people_matches_plus_ids, 2):
        distance = abs(person[1] - another_person[1])
        
        if distance < threshold_distance:
            
            if person[0] != another_person[0]:
                
                edge_list.append((person[0], another_person[0]))

### Make Network DataFrame

In [14]:
character_df = pd.DataFrame(Counter(edge_list).most_common(), columns=['character_pair', 'Weight'])
character_df['Source']=character_df['character_pair'].str[0]
character_df['Target']=character_df['character_pair'].str[1]

In [15]:
character_network = character_df[['Source', 'Target', 'Weight']]
character_network

            Source         Target  Weight
0            Anita        Melanie      12
1        Cassandra          Anita      11
2        Cassandra        Melanie      10
3          Melanie      Cassandra      10
4            Anita      Cassandra       9
..             ...            ...     ...
422         George  George Carter       1
423        Calhoun          Marie       1
424  Vernelle Wise          Marie       1
425       Vernelle        Loretta       1
426        Loretta          Marie       1

[427 rows x 3 columns]

### Output Network as Graphml File

In [16]:
G = networkx.from_pandas_edgelist(character_network, "Source", "Target", "Weight")
networkx.write_graphml(G, "Lost-in-the-City-network.graphml")

### Output Network as CSV File

In [17]:
character_network.to_csv("Lost-in-the-City-network.csv")

## Character Networks For Longer Texts

This section demonstrates how to create a character network from a text if you cannot process the entire text with spaCy at one time and need to chunk it into smaller documents (mostly longer texts).

In [32]:
filepath = "../texts/literature/Little-Women.txt"
text = open(filepath).read()

### Chunk Text By Number of Chunks

To chunk text by a specific number of chunks, choose a `number_of_chunks` value and run the cell below. The current default value is 80 chunks.

In [33]:
import math
number_of_chunks = 80
chunk_size = math.ceil(len(text) / number_of_chunks)
chunked_text = [text[i:i+chunk_size] for i in range(0, len(text), chunk_size)]

The code above is dividing the total number of characters in the text `len(text)` by the number of chunks you want, then rounding up `math.ceil()` to a whole number. This is calculating the necessary chunk size for the number of chunks you want. The final line iterates through the text and creates slices at the necessary chunk size.

### Or Chunk Text By Line Breaks

In [43]:
#chunked_text= text.split('\n')

### Process Chunked Text

In [34]:
chunked_documents = list(nlp.pipe(chunked_text))

### Create or Upload List of Characters

If you already have a list of characters that you'd like to identify, skip to the end of this section. If you'd like to identify characters with spaCy's NER tagger, run the code below:

In [35]:
spacy_identified_people = []

for document in chunked_documents:
    for named_entity in document.ents:
        if named_entity.label_ == "PERSON":
            spacy_identified_people.append(named_entity.text)

Output list of identified people to a CSV file for manual cleaning and editing:

In [36]:
pd.DataFrame(Counter(spacy_identified_people).most_common(), columns=['character', 'count']).to_csv('spacy-identified-people.csv', index=False)

Read in a CSV file with a cleaned list of characters in a column titled "character":

In [22]:
my_list_of_characters = pd.read_csv('My-Cleaned-Character-List.csv')['character'].tolist()

Uncomment to re-upload the CSV file without cleaning or editing:

In [37]:
#my_list_of_characters = pd.read_csv('spacy-identified-people.csv')['character'].tolist()

### Find Character, Index in Document(s)

Count any named entity that matches a person in the list of characters. Also extract the index number where that person appears in the document, so we can later calculate characters who appear near one another.

In [38]:
all_people_matches = []
all_people_matches_plus_ids = []
document_length = 0

for document in chunked_documents:
    document_length += len(document.text)
    for named_entity in document.ents:
        if named_entity.text in my_list_of_characters:
            person = named_entity.text

            #Remove apostrophe 's from character name
            person = person.replace("’s", "").strip()
            
            #Get the character index number from the text
            person_index =  (document_length - named_entity.start_char)

            all_people_matches.append(person)
            all_people_matches_plus_ids.append([person, person_index])

### Make List of Edges

Compare every character to every other character in the list. If two characters fall within 100 characters of one another, add them to the `edge_list`.

In [39]:
edge_list = []

threshold_distance = 100

#Get all entity matches for a previously identified person
for person, another_person in itertools.combinations(all_people_matches_plus_ids, 2):
        distance = abs(person[1] - another_person[1])
        if distance < threshold_distance:
            
            if person[0] != another_person[0]:
                
                edge_list.append((person[0], another_person[0]))

### Make Network DataFrame

In [40]:
character_df = pd.DataFrame(Counter(edge_list).most_common(), columns=['character_pair', 'Weight'])
character_df['Source']=character_df['character_pair'].str[0]
character_df['Target']=character_df['character_pair'].str[1]

In [41]:
character_network = character_df[['Source', 'Target', 'Weight']]
character_network

                 Source           Target  Weight
0                    Jo           Laurie     118
1                   Meg               Jo     113
2                    Jo             Beth     100
3                Laurie               Jo      96
4                    Jo              Meg      90
...                 ...              ...     ...
1059           Peggotty  Charles Dickens       1
1060  David Copperfield  Charles Dickens       1
1061  David Copperfield            Daisy       1
1062    Charles Dickens            Daisy       1
1063              Flora           Alcott       1

[1064 rows x 3 columns]

### Filter Network By Edge Weights

In [42]:
character_network[character_network['Weight'] > 2]

          Source       Target  Weight
0             Jo       Laurie     118
1            Meg           Jo     113
2             Jo         Beth     100
3         Laurie           Jo      96
4             Jo          Meg      90
5             Jo          Amy      90
6            Amy           Jo      81
7           Beth           Jo      78
8            Amy       Laurie      58
9           Beth          Amy      53
10        Laurie          Amy      46
11           Meg         Beth      44
12           Amy          Meg      39
13           Amy         Beth      34
14           Meg          Amy      34
15             _           Jo      29
16        Laurie          Meg      28
17           Meg       Laurie      27
18          Beth          Meg      26
19          John          Meg      25
20        Brooke          Meg      24
21           Meg         John      24
22         March           Jo      23
23         Bhaer           Jo      23
24          Beth       Laurie      21
25        Hannah           Jo      20
26            Jo            _      20
27      Laurence           Jo      18
28           Meg       Brooke      18
29          Beth       Hannah      17
30             _          Meg      17
31         Teddy           Jo      17
32      Laurence       Laurie      16
33        Laurie         Beth      16
34             _          Amy      13
35           Meg       Hannah      12
36            Jo       Hannah      12
37             _         Beth      11
38        Hannah          Meg      11
39        Hannah         Beth      11
40         March         Beth      11
41           Amy       Hannah      11
42            Jo       Brooke      10
43          Fred           Jo      10
44        Laurie            _      10
45            Jo        Teddy      10
46            Jo        Bhaer      10
47             _       Laurie       9
48         March          Amy       9
49        Sallie          Meg       9
50            Jo     Laurence       8
51        Brooke       Laurie       8
52            Jo        March       8
53            Jo         Fred       8
54          John           Jo       8
55        Laurie     Laurence       7
56           Amy            _       7
57         March          Meg       7
58          Beth            _       7
59         Daisy         Demi       7
60        Sallie           Jo       6
61        Hannah       Laurie       6
62           Meg            _       6
63        Brooke           Jo       6
64      Laurence       Hannah       6
65         Teddy       Laurie       6
66        Hannah            _       5
67        Hannah     Laurence       5
68          Beth     Laurence       5
69           Amy        March       5
70           Meg       Moffat       5
71         Belle          Meg       5
72        Laurie       Brooke       5
73        Hannah          Amy       5
74          Demi        Daisy       5
75           Amy          May       5
76         Bhaer         Tina       5
77            Jo  Shakespeare       4
78      Margaret           Jo       4
79             _       Hannah       4
80      Roderigo         Zara       4
81          Aunt        March       4
82           Amy     Laurence       4
83           Amy        Davis       4
84           Ned       Laurie       4
85            Jo         Kate       4
86           Meg         Kate       4
87          Fred        Frank       4
88          Fred       Laurie       4
89           Amy        Grace       4
90            Jo          Ned       4
91        Brooke          Ned       4
92          Kate           Jo       4
93         Frank         Beth       4
94        Sallie         Fred       4
95        Laurie         Fred       4
96           Meg        Teddy       4
97         Teddy          Amy       4
98         March       Laurie       4
99        Brooke        March       4
100            _         John       4
101         John       Brooke       4
102           Jo         John       4
103       Brooke         John       4
104         John            _       4
105          Amy         John       4
106         John         Beth       4
107        Tudor          Amy       4
108          Amy        Tudor       4
109        Scott         John       4
110       Carrol          Amy       4
111          May          Amy       4
112     Dashwood           Jo       4
113         Zara     Roderigo       3
114         Beth        March       3
115           Jo       Sallie       3
116     Laurence         Beth       3
117        Davis          Amy       3
118            _        March       3
119          Meg        March       3
120          Meg        Daisy       3
121       Sallie       Moffat       3
122       Moffat        March       3
123          Meg     Margaret       3
124          Pip         Beth       3
125      Crocker           Jo       3
126          Meg         Fred       3
127         Kate         Fred       3
128        Frank        Grace       3
129       Laurie          Ned       3
130         Beth        Grace       3
131        Grace         Kate       3
132       Brooke         Kate       3
133         Kate       Laurie       3
134         Kate          Meg       3
135            _         Fred       3
136           Jo     Margaret       3
137     Margaret       Brooke       3
138     Margaret          Meg       3
139   Ellen Tree        Grace       3
140          Meg     Laurence       3
141       Brooke        Teddy       3
142            _       Brooke       3
143       Laurie        Teddy       3
144       Hannah         John       3
145        Scott          Meg       3
146           Jo        Daisy       3
147           Jo         Demi       3
148  Aunt Carrol           Jo       3
149         Thou        Bhaer       3

### Output Network as Graphml File

In [30]:
G = networkx.from_pandas_edgelist(character_network, "Source", "Target", "Weight")
networkx.write_graphml(G, "Little-Women-network.graphml")

### Output Network as CSV File

In [31]:
character_network.to_csv("Little-Women-network.csv")